// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

body, h1, h2, h3 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #00007e;
  }

  input, button {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #00007e;
  }

  .input-search {
    font-size: 17pt;
  }