footer {
    text-align: center;
    align-content: center;
    height: 80px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    bottom: 0;
    a {
        text-decoration: none;
        border: 1px solid #c4c4c4;
        border-radius: 30px;
        padding: 2%;
    }
    a:hover {
        background-color: #d0cece;
    }
}